@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@font-face {
  font-family: "DonGraffiti";
  src: url("/f/DonGraffiti.woff2") format("woff2")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 200, 200, 200;
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 30, 30, 30;

  --home: rgba(0, 255, 110, 1.0);
  --marketplace: rgba(255, 0, 191, 1.0);
  --hireme: rgba(153, 255, 0, 1.0);

  --corner-rounding: 5px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* a:hover {
  color: rgb(166, 255, 0);
} */

* {
  cursor: default;
  user-select: none;
}

a {
  cursor: pointer;
}